<div class="bg-white shadow-card p-5 rounded-md">
  <h1 class="font-medium text-2xl mb-5 pl-4 text-gray-600">Top product</h1>

  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            <input type="checkbox" [checked]="false"
              class="focus:!ring-0 focus:ring-transparent focus:outline-none cursor-pointer checked:bg-primary rounded-sm">
          </th>
          <th scope="col" class="px-6 py-3">
            Product name
          </th>
          <th scope="col" class="px-6 py-3">
            Description
          </th>
          <th scope="col" class="px-6 py-3">
            Sold
          </th>
          <th scope="col" class="px-6 py-3">
            Price
          </th>
          <th scope="col" class="px-6 py-3">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="products.data.length > 0">
          <tr *ngFor="let item of products.data" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4">
              <input type="checkbox" [checked]="false"
                class="focus:!ring-0 focus:ring-transparent focus:outline-none cursor-pointer checked:bg-primary rounded-sm">
            </td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{item.productName}}
            </td>
            <td class="px-6 py-4">
              <div class="line-clamp-1 overflow-hidden">
                {{item.description}}
              </div>
            </td>
            <td class="px-6 py-4">
              {{item.sold}}
            </td>
            <td class="px-6 py-4">
              {{item.price}}
            </td>
            <td>
              <div class="w-full flex items-center justify-center gap-3 text-lg">
                <button class="hover:text-primary">
                  <a [routerLink]="['details', item.urlSlug]">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>
                </button>
                <button class="hover:text-red1">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="products.data.length === 0">
          <div *ngIf="isLoading">

          </div>
          <div *ngIf="!isLoading"></div>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>