<div class="mt-5">
  <div class="flex flex-wrap gap-4">
    <div class="flex-1 min-w-[240px] p-4 bg-white rounded-lg shadow-card">
      <div class="mb-2 text-gray-500 text-sm">In-store Sales</div>
      <div class="text-2xl font-medium mb-2 text-gray-600">0 đ</div>
      <div class="flex items-center gap-2">
        <span class="text-gray-500">0 orders</span>
        <span class="bg-[#e8fadf] text-[#71dd37] px-2 py-0.5 rounded-sm text-sm">
          +5.7%
        </span>
      </div>
    </div>

    <div class="flex-1 min-w-[240px] p-4 bg-white rounded-lg shadow-card">
      <div class="mb-2 text-gray-500 text-sm">Website Sales</div>
      <div class="text-2xl font-medium mb-2 text-gray-600">1.250.000 đ</div>
      <div class="flex items-center gap-2">
        <span class="text-gray-500">10 orders</span>
        <span class="bg-[#e8fadf] text-[#71dd37] px-2 py-0.5 rounded-sm text-sm">
          +12.4%
        </span>
      </div>
    </div>

    <div class="flex-1 min-w-[240px] p-4 bg-white rounded-lg shadow-card">
      <div class="mb-2 text-gray-500 text-sm">Discount</div>
      <div class="text-2xl font-medium mb-2 text-gray-600">200.000 đ</div>
      <div class="text-gray-500">5 orders</div>
    </div>

    <div class="flex-1 min-w-[240px] p-4 bg-white rounded-lg shadow-card">
      <div class="mb-2 text-gray-500 text-sm">Affiliate</div>
      <div class="text-2xl font-medium mb-2 text-gray-600">90.000 đ</div>
      <div class="flex items-center gap-2">
        <span class="text-gray-500">2</span>
        <!-- <span class="bg-[#ffe0db] text-[#ff3e1d] px-2 py-0.5 rounded-sm text-sm">
          -3.5%
        </span> -->
      </div>
    </div>
  </div>
</div>